# Data Analytics & Science
pandas==1.5.3
numpy==1.26.4
matplotlib>=3.8.0
seaborn
scikit-learn==1.5.2
xgboost==3.1.2
imbalanced-learn
joblib

# Backend API
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.6

# MLOps & Testing
pytest==8.3.4
httpx
